.pb-block-control__gradient-control {
    border: 0px solid transparent !important;
    padding: 0px !important;
    .components-panel__body-title {
        display: none;
    }
    .components-base-control__label {
        display: none;
    }
}