/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.pb-testimonial-wrap {
	margin: 20px;
}
.pb-testimonial--rating {
	margin-bottom: 20px;
}
.pb-border-control {
	margin: 10px 0;
	.pb-border-control--dropdown {
		float: right;
	}
}

.pb-shadow-control {
	margin: 10px 0;
	.pb-shadow-control--dropdown {
		float: right;
	}
}

.pb-testimonial-image button {
    background: #ccc;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 10px;
}

