
.pb-accordion-wrapper {
	transition: all 0.3s ease-in-out;
	position: relative;
	.pb-accordion-item {
		.pb-accordion-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
			.pb-accordion-icon {
				margin: 0 5px 0 0px;

			}
			.pb-accordion-title {
				flex-grow: 1;
				margin: 0;
			}
			.pb-accordion-toggle-icon {
				.pb-accordion-toggle-icon--close {
				}
			}
		}
		.pb-accordion-content {
			display: none;
			&.pb-active {
				display: block;
			}
		}
	}
}
