.pb-control--alignment {
	margin-top: 15px;
	margin-bottom: 30px !important;
	.components-base-control__field {
		display: flex;
		flex-direction: row !important;
	}
    .components-base-control__label {
        margin-bottom: 2px;
		margin-top: 10px;
		margin-right: 0px !important;
    }
    .align-btn-group {
		.components-button {
			box-shadow: inset 0 0 0 1px #ccc;
			svg {
				height: 15px;
				width: 15px;
			}
			&:hover {
				color: #5820e5;
			}
			&.is-primary {
				box-shadow: inset 0 0 0 1px #ddd;
				background: #5820e5;
				&:hover {
					color: #fff;
				}
			}
		}
    }
}
