.pb-block-control--image {
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	.components-base-control__field {
		position: relative;
	}
	.components-responsive-wrapper__content {
		max-width: fit-content;
	}
	.pb-block-control--image-actions {
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba( 0, 0, 0, 0.5);
		button {
			box-shadow: none;
			color: #fff;
			&:first-child {
				border-right: 1px solid #666;
			}
		}
	}
	.pb-block-control--image__size {
		margin-top: 10px;
		select {
			text-transform: capitalize;
		}
	}
}