.pb-responsive-box-control {
	margin-bottom: 30px !important;
    margin-top: 20px;
	.components-button-group {
		float: right;
		margin-bottom: 5px;
		margin-top: -10px;
		.components-button {
			box-shadow: inset 0 0 0 1px #ccc;
			height: auto;
			padding: 5px;
			display: inline-block;
			span {
				height: 15px;
				width: 15px;
				font-size: 15px;
			}
			&.is-primary {
				box-shadow: inset 0 0 0 1px #ddd;
			}
		}
	}
	.components-input-control__backdrop {
		border-color: #ccc !important;
	}
}
