
.pb-templates-wrapper {
	transition: all 0.3s ease-in-out;
	position: relative;
	background: #f7f7f7;
    border: 1px solid #ddd;
	padding: 40px;
	text-align: center;
	h3 {
		color: #333;
		margin: 0;
	}
	.pb-templates-open {
		display: flex;
		justify-content: center;
		button {
			font-size: 16px;
			padding: 20px !important;
			color: #111 !important;
			border: 1px solid #ddd !important;
			border-radius: 2px !important;
			background-color: #ddd !important;
			box-shadow: none !important;
		}
	}
	
}
/** Templates **/
.pb-templates-modal {
	background: #f7f7f7;
	width: 90%;
    top: 60px;
	transform: translate( -50%, 0);
	border-radius: 5px;
	border: 1px;
	height: 90%;
	// overflow: hidden;
	.components-modal__content {
		padding: 0;
	}
	.components-modal__header {
		margin: 0;
		padding: 10px 20px;
		&:first-of-type {
			display: none;
		}
	}
	.pb-templates-content {
		display: flex;
		height: 90%;
		// overflow: hidden;
		.pb-templates-con--category {
			background-color: #e6e6e6;
			height: auto;
			padding: 10px 20px;
			color: #fff;
			min-width: 250px;
			overflow-y: scroll;
			max-height: 100vh;
			ul {
				li {
					color: rgba(0,0,0,0.5);
					padding: 5px 0;
					font-size: 15px;
					font-weight: 500;
					cursor: pointer;
					border-right: 3px solid transparent;
					transition: all 0.3s ease-in-out;
					span {
						text-align: right;
						float: right;
						margin-right: 5px;
						background: #f30d55;
						font-size: 12px;
						border-radius: 10px;
						padding: 2px 8px;
						color: #fff;
					}
					&:hover {
						color: #111;
						border-right: 3px solid #f30d55;
					}
					&.c-active {
						color: #111;
						border-right: 3px solid #f30d55;
					}
				}
			}
		}
		.pb-templates-con--list {
			padding: 10px 15px;
			height: 100%;
			overflow-y: scroll;
			.pb-templates-list-item {
				width: 32.3%;
    			float: left;
				background: #f9f9f9;
				margin: 0 5px 20px 5px;
				box-shadow: 0 5px 30px -10px rgba(18, 63, 82, 0.30);
				border-radius: 5px;
				border: 1px solid #f9f9f9;
				cursor: pointer;
				&:hover .pb-template-links {
					opacity: 1;
				}
				.pb-template-item-wrapper {
					position: relative;
					overflow: hidden;

				}
				.pb-template-pro-badge {
					position: absolute;
					right: 0;
					background: #f30d55;
					padding: 2px 10px;
					color: #fff;
					border-radius: 10px;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 0px;
					text-transform: uppercase;
				}
				.pb-templates-list-item--img {
					img {
						width: 100%;
						border-radius: 5px 5px 0 0;
						max-width: 100%;
						min-height: 227px;
					}
				}
				.pb-template-links {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background: rgba( 0, 0, 0, 0.4);
					display: flex;
					align-items: center;
					justify-content: center;
					opacity: 0;
					transition: all 0.3s ease-in;
					div:first-child {
						margin-right: 10px;
						a {
							background-color: #5820e5 !important;
						}
					}
					.pb-template-btn {
						color: #fff;
						text-decoration: none;
						background: #f30d55;
						padding: 10px;
						border-radius: 5px;
					}
					.pb-template-preview {
						.pb-template-get-pro {

						}
						.pb-template-import {

						}
					}
				}
				.pb-templates-list-item--info {
					padding: 10px;
					h3 {
						margin: 0px;
					}
				}
			}
		}
	}
}