.pb-testimonial-wrap {
	margin: 20px;
}
.pb-testimonial--rating {
	margin-bottom: 20px;
}
.pb-testimonial-image button {
    background: #ccc;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: 10px;
}
