
.pb-testimonial-wrapper {
	transition: all 0.3s ease-in-out;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.pb-testimonial--conr {
		transition: all 0.3s ease-in-out;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: -15px;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid transparent;
			width: 0;
			height: 0;
			transition: all .3s ease-in-out;
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: -15px;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid transparent;
			width: 0;
			height: 0;
			transition: all .3s ease-in-out;
		}
	}
	.pb-testimonial--details {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;

		&.image-position-top {
			flex-direction: column;
			.pb-testimonial-image {
				margin-bottom: 5px;
			}
		}
		&.image-position-right {
			flex-direction: row-reverse;
			.pb-testimonial-image {
				margin-left: 5px;
			}
		}
		&.image-position-bottom {
			flex-direction: column-reverse;
			.pb-testimonial-image {
				margin-top: 5px;
			}
		}
		&.image-position-left {
			.pb-testimonial-image {
				// margin-right: 5px;
			}
		}
	}

	/** Designs **/
	// &.design-2 {
	// 	background-color: transparent !important;
	// 	padding: 0px !important;
	// 	.pb-testimonial--conr {
	// 		background-color: red;
	// 	}
	// 	.pb-testimonial--details {
	// 		justify-content: flex-start !important;
	// 	}
	// }
}
