@import 'media';

/** Tab Panel **/

.pb-panel-head--tabs {
	.pb-panel-head--tabs__wrapper {
		display: flex;
		justify-content: flex-start;
		.pb-panel-head--tab {
			background: #fff;
			color: #111;

			box-shadow: none;
			border-radius: 4px 4px 0 0 !important;
			// padding: 17px;
			font-size: 15px;
			height: 70px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center !important;
			flex: 1;
			margin: 0px !important;
			span {
				margin-bottom: 5px;
				font-size: 22px;
			}
			&:first-child {
				&.pb-ph-tab--active {
					border-left-color: transparent;
				}
			}
			&.pb-ph-tab--active {
				border: 1px solid #ddd;
				border-bottom-color: #fff;
				position: relative;
				bottom: -1px;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.pb-panel-head--tabs__controls {
		.css-c3bpo-BackdropUI {
			border: 1px solid #ccc !important;
		}
		.component-box-control__input-controls-wrapper {

		}
		.css-11vcxb9-StyledField {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		input[type='text'] {
			border-color: #ddd;
		}
	}
}
.pb-panel-inspect--tabs {
	// display: flex;
	// justify-content: flex-start;
	// margin-bottom: 20px;
	.pb-panel-inspect--tab {
		background: #fff;
		color: #111;
		box-shadow: none;
		border-radius: 0px;
		// padding: 17px;
		font-size: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center !important;
		flex: 1;
		margin: 0px !important;
		border: 1px solid #ddd;
		height: 35px;
		span {
			margin-bottom: 5px;
			font-size: 22px;
		}
		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			border-right: 0px;
		}
		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-left: 0px;
		}
		&.pb-pi-tab--active {
			background-color: #888;
			color: #fff;
		}
		&:hover {
			background-color: #999;
			color: #fff;
		}
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.pb-panel-inspect--tabs__controls {
		margin-top: 15px;
	}
}


/** Responsive **/
.edit-post-visual-editor {
	.pb-hide-d {
		opacity: 0.6;
		display: block !important;
	}
	.pb-hide-t {
		@media #{$tab_device} {
			opacity: 0.6;
			display: block !important;
		}
	}
	.pb-hide-m {
		@media #{$small_mobile} {
			opacity: 0.6;
			display: block !important;
		}
	}
}

.pb-panel-s--tabs {
	margin-bottom: 15px;
	.pb-panel-s--tabs__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		.pb-panel-s--tab__title {
			// color: #111;
			// font-weight: 700;
		}
		.pb-panel-s--tab {
			box-shadow: none;
			// border: 1px solid #ddd;
			box-shadow: inset 0 0 0 1px #ddd;
			padding: 5px;
			height: auto;
			&:first-child {
				// border-top-left-radius: 4px;
				// border-bottom-left-radius: 4px;
				border-right: 0px;
			}
			&:last-child {
				// border-top-right-radius: 4px;
				// border-bottom-right-radius: 4px;
				border-left: 0px;
			}
			&.pb-ps-tab--active {
				background-color: #888;
				color: #fff;
			}
			&:hover {
				background-color: #999;
				color: #fff;
			}
			&:focus {
				outline: none;
				box-shadow: none;
			}
			span {
				height: auto;
				width: auto;
				font-size: 15px;
			}
			svg {
				height: 15px;
				width: 15px;
			}
		}
	}
}
/** Image Control **/ 
.pb-editor-bg-image-control {
	.css-11vcxb9-StyledField {
		display: flex;
		flex-direction: row !important;
		align-items: center;
		span {
			flex: 1;
		}
		button {
			border: 1px solid #ddd;
			box-shadow: none;
			color: #111;
			padding: 5px;
			height: auto;
			margin-left: -1px;
			span {
				margin: 0px;
			}
		}
	}
}

.pb-custom-number-control, .pb-custom-select-control {
	flex-direction: row !important;
	align-items: center !important;
	justify-content: space-between !important;
	.components-input-control__container {
		flex-basis: 50%;
		width: auto;
		flex: inherit;
	}
}