@import 'media';

/** Tab Panel **/

.pb-panel-head--tabs {
	.pb-panel-head--tabs__wrapper {
		display: flex;
		justify-content: flex-start;
		.pb-panel-head--tab {
			background: #fff;
			color: #111;

			box-shadow: none;
			border-radius: 4px 4px 0 0 !important;
			// padding: 17px;
			font-size: 15px;
			height: 70px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center !important;
			flex: 1;
			margin: 0px !important;
			span {
				margin-bottom: 5px;
				font-size: 22px;
			}
			&:first-child {
				&.pb-ph-tab--active {
					border-left-color: transparent;
				}
			}
			&.pb-ph-tab--active {
				border: 1px solid #ddd;
				border-bottom-color: #fff;
				position: relative;
				bottom: -1px;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.pb-panel-head--tabs__controls {
		.css-c3bpo-BackdropUI {
			border: 1px solid #ccc !important;
		}
		.component-box-control__input-controls-wrapper {

		}
		.css-11vcxb9-StyledField {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		input[type='text'] {
			border-color: #ddd;
		}
	}
}

.pb-panel-inspect--tabs {
	.pb-panel-inspect--tabs__wrapper {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 20px;
		.pb-panel-inspect--tab {
			background: #fff;
			color: #111;
			box-shadow: none;
			border-radius: 0px;
			// padding: 17px;
			font-size: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center !important;
			flex: 1;
			margin: 0px !important;
			border: 1px solid #ddd;
			span {
				margin-bottom: 5px;
				font-size: 22px;
			}
			&:first-child {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-right: 0px;
			}
			&:last-child {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border-left: 0px;
			}
			&.pb-pi-tab--active {
				background-color: #888;
				color: #fff;
			}
			&:hover {
				background-color: #999;
				color: #fff;
			}
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.pb-panel-inspect--tabs__controls {
		
	}
}
.pb-border-control {
	margin: 10px 0;
	.pb-border-control--dropdown {
		float: right;
	}
}

.pb-shadow-control {
	margin: 10px 0;
	.pb-shadow-control--dropdown {
		float: right;
	}
}
/** Responsive **/
.edit-post-visual-editor {
	.pb-hide-d {
		opacity: 0.6;
		display: block !important;
	}
	.pb-hide-t {
		@media #{$tab_device} {
			opacity: 0.6;
			display: block !important;
		}
	}
	.pb-hide-m {
		@media #{$small_mobile} {
			opacity: 0.6;
			display: block !important;
		}
	}
}