@import "../blocks/**/style.scss";
@import 'media';

/** Responsive **/
.pb-hide-d {
	display: none !important;
}
.pb-hide-t {
	@media #{$tab_device} {
		display: none !important;
	}
}
.pb-hide-m {
	@media #{$small_mobile} {
		display: none !important;
	}
}
[data-pb-link] {
	cursor: pointer;
}
.pb-animation {
	visibility: hidden;
}
.pb-animation-out {
	visibility: visible;
}

.pb__animated {
	visibility: visible;
}